# Editors temp files
*.swp
*~

# SCRAM business
__init__.py
*.pyc

# CRAB3 stuff
crab_*
crabConfig_*

#config files
*.dat

# ROOT-related files
*.root
*.C
*_cc.d
*_cc.so
*_C.d
*_C.so
*\#*
.\#*
AutoDict_*

# Other temp files
*.txt
*.log
*.png
*.pdf
*.out
*.tmp
*.pcm
*.o

# Output dirs in signal and bkg
Signal/outdir_*
Signal/log
Signal/bak*
Background/outdir_*
Background/log
Background/bin
Datacard/yield*
Datacard/Datacard*
Datacard/old
Plots/plots*
Plots/SplusB*
Tree2WS/inputs
Tree2WS/outdir*
Combine/Datacards
Combine/Models*
Combine/log
Combine/plot
Combine/WS
Combine/result
Combine/higgsCombine*
Combine/*.png
Combine/*.pdf
Combine/*.root
Combine/error
Combine/t2w*
Combine/script


./*.root
./*.png
./*.pdf
